.collection-card {
    background-color: #2a2e38;
    border-radius: 10px;
    height: 150px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .collection-card:hover {
        background-color: #3b404b;
    }

.manage-downloads {
    text-align: center;
    padding: 20px;
    color: #9da1ad;
    cursor: pointer;
    margin-top: auto;
}

    .manage-downloads:hover {
        color: #fff;
    }

.container-content {
    flex-grow: 1;
}

.text {
    color: #33cc33;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
}

body.dark-theme .text {
    color: #6842ff;
}

hr {
    border: none; /* Loại bỏ đường viền mặc định */
    height: 4px; /* Đặt chiều cao cho đường gạch ngang */
    background-color: black; /* Màu sắc của đường gạch ngang */
    margin: 20px 0; /* Thêm khoảng cách phía trên và dưới đường gạch ngang */
}

body.dark-theme hr {
    background-color: #6842ff;
}