<div class="container-fluid mt-5" style="min-height:1100px;">
    <h1 class="text-center" style="font-family: 'Roboto', 'Segoe UI', sans-serif;">Orther Product</h1>
    <div class="row mt-3">
        <div class="col-md-2">
            <form class="mt-3" style="font-family: 'Lexend', sans-serif;">
                @*  <div class="search text-center ">
                <input class="search-product" placeholder="Search game">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                </div> *@
                <div class="accordion" id="accordionExample" style="background-color: #E0F2F1; border:none;">
                    <div class="accordion-item" style="background-color: #E0F2F1; border:none;">
                        <h2 class="accordion-header" id="headingOne" style="background-color: #E0F2F1; border:none;">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="background-color: #E0F2F1; border:none;">
                                Genres
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="background-color: #E0F2F1; border:none;">
                            <div class="accordion-body" style="background-color: #E0F2F1; border:none;">
                                <span class="navelement">Action</span>
                                <span class="navelement">Another Action</span>
                                <span class="navelement">Something else here</span>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" style="background-color: #E0F2F1; border:none;">
                        <h2 class="accordion-header" id="headingTwo" style="background-color: #E0F2F1; border:none;">
                            <button class="accordion-button collapsed" style="background-color: #E0F2F1; border:none;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Categories
                            </button>
                        </h2>
                        <div id="collapseTwo" style="background-color: #E0F2F1; border:none;" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <span class="navelement">Action</span>
                                <span class="navelement">Another Action</span>
                                <span class="navelement">Something else here</span>
                            </div>
                        </div>
                    </div><div class="accordion-item" style="background-color: #E0F2F1; border:none;">
                        <h2 class="accordion-header" id="headingThree" style="background-color: #E0F2F1; border:none;">
                            <button class="accordion-button collapsed" style="background-color: #E0F2F1; border:none;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Price Range
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" style="background-color: #E0F2F1; border:none;" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <span class="navelement">Action</span>
                                <span class="navelement">Another Action</span>
                                <span class="navelement">Something else here</span>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" style="background-color: #E0F2F1; border:none;">
                        <h2 class="accordion-header" id="headingFour" style="background-color: #E0F2F1; border:none;">
                            <button class="accordion-button collapsed" style="background-color: #E0F2F1; border:none;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Platform
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" style="background-color: #E0F2F1; border:none;" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <span class="navelement">Action</span>
                                <span class="navelement">Another Action</span>
                                <span class="navelement">Something else here</span>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" style="background-color: #E0F2F1; border:none;">
                        <h2 class="accordion-header" id="headingFive" style="background-color: #E0F2F1; border:none;">
                            <button class="accordion-button collapsed" style="background-color: #E0F2F1; border:none;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Release Date
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" style="background-color: #E0F2F1; border:none;" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <span class="navelement">Action</span>
                                <span class="navelement">Another Action</span>
                                <span class="navelement">Something else here</span>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" style="background-color: #E0F2F1; border:none;">
                        <h2 class="accordion-header" id="headingSix" style="background-color: #E0F2F1; border:none;">
                            <button class="accordion-button collapsed" style="background-color: #E0F2F1; border:none;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Ratings
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" style="background-color: #E0F2F1; border:none;" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <span class="navelement">Action</span>
                                <span class="navelement">Another Action</span>
                                <span class="navelement">Something else here</span>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>
        <div class="col-md-10">
            <div class="ortherproduct">
                <div class="radio-inputs">
                    <label class="radio">
                        <input type="radio" name="radio" checked="" />
                        <span class="name" style="font-family: 'Roboto', 'Segoe UI', sans-serif;">For you</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="radio" />
                        <span class="name" style="font-family: 'Roboto', 'Segoe UI', sans-serif;">Popular</span>
                    </label>

                    <label class="radio">
                        <input type="radio" name="radio" />
                        <span class="name" style="font-family: 'Roboto', 'Segoe UI', sans-serif;">Free</span>
                    </label>

                    <label class="radio">
                        <input type="radio" name="radio" />
                        <span class="name" style="font-family: 'Roboto', 'Segoe UI', sans-serif;">New</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="radio" />
                        <span class="name" style="font-family: 'Roboto', 'Segoe UI', sans-serif;">More</span>
                    </label>
                </div>
            </div>


            <div class="gamemonth mt-2 me-1">
                <div class="d-flex justify-content-center flex-wrap mt-3">
                    <div class=" card cardgamemonth m-2" style="width: 13rem; height:230px;">
                        <img src="~/image/game.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 style="font-size:15px;">Trick Tactics - Card Adventure Game</h5>
                            <p class="text-end">109.000 <sup>đ</sup></p>
                        </div>
                    </div>
                    <div class=" card cardgamemonth m-2" style="width: 13rem; height:230px;">
                        <img src="~/image/game.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 style="font-size:15px;">Trick Tactics - Card Adventure Game</h5>
                            <p class="text-end">109.000 <sup>đ</sup></p>
                        </div>
                    </div>
                    <div class=" card cardgamemonth m-2" style="width: 13rem; height:230px;">
                        <img src="~/image/game.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 style="font-size:15px;">Trick Tactics - Card Adventure Game</h5>
                            <p class="text-end">109.000 <sup>đ</sup></p>
                        </div>
                    </div>
                    <div class=" card cardgamemonth m-2" style="width: 13rem; height:230px;">
                        <img src="~/image/game.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 style="font-size:15px;">Trick Tactics - Card Adventure Game</h5>
                            <p class="text-end">109.000 <sup>đ</sup></p>
                        </div>
                    </div>
                    <div class=" card cardgamemonth m-2" style="width: 13rem; height:230px;">
                        <img src="~/image/game.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 style="font-size:15px;">Trick Tactics - Card Adventure Game</h5>
                            <p class="text-end">109.000 <sup>đ</sup></p>
                        </div>
                    </div>
                    <div class=" card cardgamemonth m-2" style="width: 13rem; height:230px;">
                        <img src="~/image/game.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 style="font-size:15px;">Trick Tactics - Card Adventure Game</h5>
                            <p class="text-end">109.000 <sup>đ</sup></p>
                        </div>
                    </div>
                    <div class=" card cardgamemonth m-2" style="width: 13rem; height:230px;">
                        <img src="~/image/game.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 style="font-size:15px;">Trick Tactics - Card Adventure Game</h5>
                            <p class="text-end">109.000 <sup>đ</sup></p>
                        </div>
                    </div>
                    <div class=" card cardgamemonth m-2" style="width: 13rem; height:230px;">
                        <img src="~/image/game.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 style="font-size:15px;">Trick Tactics - Card Adventure Game</h5>
                            <p class="text-end">109.000 <sup>đ</sup></p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>