@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Client.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    @* Owl Carousel min.css *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @* Owl.Theme.default.min.css *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>
<body style="background-color: rgba(255, 255, 255, 0.9);">
    <div class="">
        <header>
            <!-- Navbar -->
            <nav class="navbaradmin navbar navbar-expand-lg navbar-light bg-white">
                <div class="container-fluid d-flex">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                        <div class="d-flex align-items-center">
                            <div>
                                <a asp-controller="Home" asp-action="Index">
                                    <img src="~/Image/logo.png" alt="Logo" style="max-height: 60px;">
                                </a>
                            </div>
                            <div class="mx-3">
                                <form>
                                    <input class="form-control me-2" type="search" placeholder="Search.." aria-label="Search">
                                </form>
                            </div>
                        </div>

                        <!-- Các nút điều hướng -->
                        <ul class="navbar-nav d-flex align-items-center">
                            <li class="nav-item dropdown">
                                <a class="nav-link btn fw-bold" id="navbarDropdown1" asp-controller="Product" asp-action="Product" role="button">
                                    Products
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link btn fw-bold" id="navbarDropdown1" asp-controller="G4T" asp-action="ContactUs" role="button">
                                    Contact Us
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link btn fw-bold" id="navbarDropdown1" asp-controller="G4T" asp-action="Blog" role="button">
                                    Blog
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link btn fw-bold" id="navbarDropdown1" role="button">
                                    Help
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link btn fw-bold" id="navbarDropdown2" role="button">
                                    Play
                                </a>
                            </li>
                         @*    <li class="nav-item dropdown">
                                <a class="nav-link btn fw-bold" id="navbarDropdown2" role="button">
                                    Game 2D/3D
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link btn fw-bold" id="navbarDropdown2" role="button">
                                    Play
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link btn fw-bold" id="navbarDropdown2" role="button">
                                    Asset 2D/3D
                                </a>
                            </li> *@
                            
                           
                        </ul>

                        <!-- Phần ngôn ngữ và thông tin người dùng -->
                        <ul class="navbar-nav d-flex align-items-center">
                            <li class="nav-item mx-2">
                                <div class="custom-language-dropdown border border-1 rounded">
                                    <button class="language-dropdown-toggle">
                                        <img src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg" alt="English" width="20">
                                        <span class="mx-2">English</span>
                                    </button>
                                    <div class="language-dropdown-content">
                                        <div class="language-option" data-lang="en">
                                            <img src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg" alt="English" width="20">
                                            <span class="mx-2">English</span>
                                        </div>
                                        <div class="language-option" data-lang="vi">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Vietnam.svg" alt="Tiếng Việt" width="20">
                                            <span class="mx-2">Tiếng Việt</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="google_element" style="display:none;"></div> <!-- Ẩn mặc định của Google -->
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link"><i class="fa-solid fa-bell"></i></a>
                            </li>
                            <li class="nav-item" style="max-width:160px">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    var displayName = User.FindFirst(ClaimTypes.GivenName)?.Value;
                                    var avatarUrl = User.FindFirst("Avatar")?.Value;
                                    <a class="nav-link d-flex" asp-controller="User" asp-action="Information">
                                        <img id="avatar" src="@avatarUrl" alt="Profile" class="rounded-circle" width="30" height="30">
                                        <span class="align-content-center px-1 text-truncate" style="max-width: 150px;">@displayName</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link d-flex" asp-controller="User" asp-action="Login">
                                        <img src="~/Image/avatar.jpeg" alt="Profile" class="rounded-circle" width="30" height="30">
                                        <span class="align-content-center px-1">Login</span>
                                    </a>
                                }
                            </li>
                            <li class="nav-item dropdown ml-auto">
                                <a class="nav-link dropdown-toggle" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="navelement" asp-controller="User" asp-action="Register">Register</a>
                                    <a class="navelement" asp-controller="User" asp-action="Login">Login</a>
                                    <a class="navelement" asp-controller="Order" asp-action="History">History</a>
                                    <a class="navelement" asp-controller="User" asp-action="Information">Information</a>
                                    <a class="navelement" asp-controller="User" asp-action="ChangePassword">ChangePassword</a>
                                    <a class="navelement" asp-controller="User" asp-action="Cart">Cart</a>
                                    <a class="navelement" asp-controller="Product" asp-action="ProductDetail">ProductDetail</a></>
                                    <a class="navelement" asp-controller="product" asp-action="Collection">Collection</a>
                                    <a class="navelement" asp-controller="Admin" asp-action="AdminDashboard">AdminDashboard</a>
                                    <a class="navelement" asp-controller="User" asp-action="EditProfile">EditProfile</a>
                                    <a class="navelement" asp-controller="User" asp-action="PasswordSecurity">Password&Security</a>
                                    <a class="navelement" asp-controller="User" asp-action="UserDashboard" asp-route-name="">UserDashboard</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container mb-5">
            <main role="main">
                @RenderBody()
            </main>
        </div>
        <footer style="background-color: #222; color: white; padding: 40px 20px; font-size: 14px;">
            <div class="footer-container" style="display: flex; justify-content: space-between; max-width: 1200px; margin: 0 auto;">
                <div class="footer-column">
                    <h4>About Us</h4>
                    <p>G4T Game Studio specializes in creating high-quality games. Our mission is to bring immersive gaming experiences to all types of players.</p>
                </div>

                <div class="social-links" style="display: flex; align-items: center;">
                    <a href="#" style="color: white; font-size: 24px; margin-right: 20px;">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" style="color: white; font-size: 24px; margin-right: 20px;">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" style="color: white; font-size: 24px; margin-right: 20px;">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" style="color: white; font-size: 24px;">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>

            <div style="text-align: center; margin-top: 20px; border-top: 1px solid #444; padding-top: 20px;">
                <p>© 2024 G4T Game Studio. All rights reserved.</p>
                <img src="~/Image/Logo-remove.png" alt="Visa" width="50">
            </div>
        </footer>


        @* <footer class="footer">
        <div class="container_footer">
        <div class="row">
        <div class="col-12 col-sm-6 col-md-3 footer_col">
        <h4>Company</h4>
        <ul>
        <li><a asp-controller="" asp-action="">Abour Us</a></li>
        <li><a asp-controller="" asp-action="">Our Service</a></li>
        <li><a asp-controller="" asp-action="">Pravacy Policy</a></li>
        <li><a asp-controller="" asp-action="">Affiliate Program</a></li>
        </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-3 footer_col">
        <h4>Get Help</h4>
        <ul>
        <li><a asp-controller="" asp-action="">FAQ</a></li>
        <li><a asp-controller="" asp-action="">Shipping</a></li>
        <li><a asp-controller="" asp-action="">Returns</a></li>
        <li><a asp-controller="" asp-action="">Order Status</a></li>
        <li><a asp-controller="" asp-action="">Payment Options</a></li>
        </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-3 footer_col">
        <h4>Online Shop</h4>
        <ul>
        <li><a asp-controller="" asp-action="">Watch</a></li>
        <li><a asp-controller="" asp-action="">Bag</a></li>
        <li><a asp-controller="" asp-action="">Shoes</a></li>
        <li><a asp-controller="" asp-action="">Dress</a></li>
        </ul>
        </div>
        <div class=" col-12 col-sm-6 col-md-3 footer_col">
        <h4>Follow US</h4>
        <div class="social-links">
        <a asp-controller="" asp-action="">
        <i class="fab fa-facebook-f"></i>
        </a>
        <a asp-controller="" asp-action="">
        <i class="fab fa-twitter"></i>
        </a>
        <a asp-controller="" asp-action="">
        <i class="fab fa-instagram"></i>
        </a>
        <a asp-controller="" asp-action="">
        <i class="fab fa-linkedin-in"></i>
        </a>
        </div>
        </div>
        </div>
        </div>
        </footer> *@
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* jQuerry CDN *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @* Owl carousel min.js *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @* Google Dịch *@
    <script type="text/javascript">
        function loadGoogleTranslate() {
            new google.translate.TranslateElement("google_element");
        }

        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages: 'en,vi,fr,ja', // Các ngôn ngữ bạn muốn hỗ trợ
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_element');
        }

        // Khi click vào một ngôn ngữ trong danh sách
        document.querySelectorAll('.language-option').forEach(function (option) {
            option.addEventListener('click', function () {
                // Cập nhật quốc kỳ và tên ngôn ngữ trên nút dropdown
                var selectedLangText = this.querySelector('span').textContent;
                var selectedFlagSrc = this.querySelector('img').src;

                // Cập nhật lại nút dropdown để hiển thị ngôn ngữ được chọn
                document.querySelector('.language-dropdown-toggle img').src = selectedFlagSrc;
                document.querySelector('.language-dropdown-toggle').innerHTML = '<img src="' + selectedFlagSrc + '" width="20"> ' + selectedLangText;

                // Lấy mã ngôn ngữ từ thuộc tính 'data-lang'
                var langCode = this.getAttribute('data-lang');

                // Thay đổi ngôn ngữ với Google Translate
                var googleTranslateDropdown = document.querySelector('.goog-te-combo');
                if (googleTranslateDropdown) {
                    googleTranslateDropdown.value = langCode;
                    googleTranslateDropdown.dispatchEvent(new Event('change'));
                }
            });
        });

    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
