
<div class="ContactUs">
    <div class="text-center" style="border-bottom: 1px solid black;">
        <h1 class="mt-5 " style="font-size:80px;">G4T BLOG</h1>
        <p>
            Welcome to the Gameflip Blog - dedicated to bringing you the latest news, top gaming trends, 
            and - most importantly - the best gaming deals you'll find online
        </p>
    </div>
    <div class="mt-5 row">
        <div class="col-md-4 mt-3">
            <div class="hover-zoom">
                <img src="~/image/capnhat14.22.png" style="width: 100%; height: auto;" />
            </div>
            <div class="mt-2 fw-bold">
                <span>CẬP NHẬT TRÒ CHƠI</span>
                | <span>Sắp ra mắt</span>
                <h4 class="mt-2" style="text-transform: uppercase;">Thông tin bản cập nhật 14.22</h4>
            </div>
            <p>Phiên bản 14.22 chuẩn bị ra mắt</p>
        </div>

        <div class="col-md-4 mt-3">
            <div class="hover-zoom">
                <img src="~/image/blog2.png" style="width: 100%; height: auto;" />
            </div>
            <div class="mt-2 fw-bold">
                 <span>1/1/2024</span>
                <h4 class="mt-2" style="text-transform: uppercase;">cập nhật thể thức language of legends championship pacific </h4>
            </div>
            <p>Hãy cùng tìm hiểu thể thức của LCP trong năm 2025</p>
        </div>
        <div class="col-md-4 mt-3">
            <div class="hover-zoom">
                <img src="~/image/blog3.png" style="width: 100%; height: auto;" />
            </div>
            <div class="mt-2 fw-bold">
                <span>29/10/2024</span>
                <h4 class="mt-2" style="text-transform: uppercase;">lễ khai mạc cktg 2024 mang đến bởi mastercard </h4>
            </div>
            <p>Với sự góp mặt của Ashnikko, Mars Atlas thuộc Forts và Tiffany Aris, cùng với Linkin Park</p>
        </div>

        <div class="col-md-4 mt-3">
            <div class="hover-zoom">
                <img src="~/image/blog2.png" style="width: 100%; height: auto;" />
            </div>
            <div class="mt-2 fw-bold">
                <span>2/11/2024</span>
                <h4 class="mt-2" style="text-transform: uppercase;">hé lộ đổi tuyển league of legends championship pacific</h4>
            </div>
            <p>Đây là những đội tuyển sẽ tham dự giải đấu LCP vào năm sau!</p>
        </div>

        <div class="col-md-4 mt-3">
            <div class="hover-zoom">
                <img src="~/image/blog4.png" style="width: 100%; height: auto;" />
            </div>
            <div class="mt-2 fw-bold">
                <span>1/11/2024</span>
                <h4 class="mt-2" style="text-transform: uppercase;">hướng đi tiếp theo: esports lmht 2025</h4>
            </div>
            <p>Giải đấu First Stand, Fearless Draft, MSI, và CKTG 2025, cùng với các cập nhật về giải đấu khu vực</p>
        </div>
        <div class="col-md-4 mt-3">
            <div class="hover-zoom">
                <img src="~/image/blog5.png" style="width: 100%; height: auto;" />
            </div>
            <div class="mt-2 fw-bold">
                <span>28/10/2024</span>
                <h4 class="mt-2" style="text-transform: uppercase;">các streamer đồng phát sóng trực tiếp chung kết cktg 2024</h4>
            </div>
            <p>Thông báo về những Streamer đã được lựa chọn sẽ đồng phát sóng trực tiếp CKTG 2024</p>
        </div>
    </div>

    
</div>
