
<div class="ContactUs">

    <h1 class="mt-5" style="font-size:80px;">Contact Us</h1>   
    <div class="row ">
        <div class="col-md-6 border">
            <h1>We would love to hear from you</h1>
            <p>Need help? Have a question? Completely Lost?</p>
            <p>There are a variety of way to contact the game administration on each of our games. 
                You can use the form here, email us directly, request help on game forums, and even use in game commands.
            </p>
        </div>
        <div class="col-md-6">
            <div class="d-flex mb-3">
                <input class="form-control me-2" placeholder="Your Name" style="border-radius: 5px;" />
                <input class="form-control" placeholder="Your Email" style="border-radius: 5px;" />
            </div>
            <input class="form-control mb-3" placeholder="Subject" style="border-radius: 5px;" />
            <textarea class="form-control mb-3" placeholder="Message" style="border-radius: 5px;"></textarea>
            <button class="btn btn-primary w-100" style="border-radius: 5px;">Send Message</button>
        </div>

    </div>
</div>
