@{
    Layout = "_LayoutNull";
}
@model Client.Models.AuthenModel.ChangePasswordModel
<div class="login-container">
    <div class="login-box">
        <div class="login-logo">
            <a asp-controller="Home" asp-action="Index"><img src="~/image/logo-remove.png" alt="Logo" /></a>
        </div>
        <h2 class="login-title">Change Password</h2>
        <form>
            <div class="login-input input-group">
                <span class="input-group-text">
                    <i class="bi bi-lock"></i>
                </span>
                <input type="password" class="form-control" asp-for="OldPassword" placeholder="Password" required>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="login-input input-group">
                <span class="input-group-text">
                    <i class="bi bi-key"></i>
                </span>
                <input type="password" class="form-control" asp-for="NewPassword" placeholder="New Password" required>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="login-input input-group">
                <span class="input-group-text">
                    <i class="bi bi-shield-lock"></i>
                </span>
                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" required>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="login-btn fw-bold">Change Password</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}