@{
    Layout = "_LayoutNull";
}
@using Client.Models.AuthenModel
@model ForgotPasswordModel


<div class="login-container" style="height:100vh;">
    <div class="login-box">
       
        <div class="login-logo">
            <a asp-controller="Home" asp-action="Index"><img src="~/image/logo.png" alt="Logo" /></a>
        </div>
        <h2 class="login-title">Forgot Password</h2>
     
        <form asp-action="ForgotPassword">
            <div class="login-input input-group">
                <span class="input-group-text">
                    <i class="bi bi-person"></i>
                </span>
                <input asp-for="@Model.Email" type="text" class="form-control" placeholder="Email" >
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="login-btn fw-bold">Continue</button>
        </form>

        <div class="white-background mt-2 text-center">
            <div class="login-divider pt-2" style="color: grey;">Don't have an account yet?</div>
            <a asp-controller="User" asp-action="Register" class="Register">Sign up for a new account?</a>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}