@{
    Layout = "_LayoutNull";
}
@using Client.Models.AuthenModel
@model RegisterModel
<div class="login-container" style="min-height:100vh; max-height:auto">
    <div class="login-box">
        <div class="login-logo">
            <a asp-controller="Home" asp-action="Index"><img src="~/image/logo.png" alt="Logo" /></a>
        </div>
        <h2 class="login-title">Register</h2>
        <form asp-action="Register">
            <div class="login-input input-group">
                <span class="input-group-text">
                    <i class="bi bi-person"></i>
                </span>
                <input type="text" asp-for="@Model.Username" class="form-control" placeholder="Username">
            </div>    
            <span asp-validation-for="Username" class="text-danger"></span>
            <div class="login-input input-group">
                <span class="input-group-text">
                    <i class="bi bi-envelope"></i>
                </span>
                <input type="text" asp-for="@Model.Email" class="form-control" placeholder="Email">
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
            <div class="login-input input-group">
                <span class="input-group-text">
                    <i class="bi bi-shield-lock"></i>
                </span>
                <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Password">
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="login-input input-group">
                <span class="input-group-text">
                    <i class="bi bi-shield-lock"></i>
                </span>
                <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Confirm Password">
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <div class="d-flex justify-content-between mb-3">
                <div class="form-check">
                    <input class="form-check-input" required type="checkbox" value="" id="policy">
                    <label class="form-check-label text-black-50" for="policy">
                        I agree to the terms
                    </label>
                </div>
            </div>
            <button type="submit" asp-action="Register" class="login-btn fw-bold">Register</button>
        </form>

        <div class="white-background mt-2">
            <div class="login-divider pt-2" style="color: grey;">Already have an account? <a asp-controller="User" asp-action="Login" class="Login">Log in now?</a></div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}