@{
    Layout = "_LayoutNull";
}
@using Client.Models.AuthenModel
@model ResetPasswordModel
@{
    var userId = ViewData["UserId"];
    var token = ViewData["Token"];
}
<div class="login-container" style="height:100vh;">
    <div class="login-box">
       
        <div class="login-logo">
            <a asp-controller="Home" asp-action="Index"><img src="~/image/logo.png" alt="Logo" /></a>
        </div>
        <h2 class="login-title">Reset Password</h2>
        
        <form asp-action="ResetPassword">
            <input hidden asp-for=Token type="text"/>
            <div class="login-input input-group">
                <span class="input-group-text">
                    <i class="bi bi-person"></i>
                </span>
                <input type="password" asp-for="@Model.NewPassword" type="text" class="form-control" placeholder="New password">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div> 
            <div class="login-input input-group">
                <span class="input-group-text">
                    <i class="bi bi-person"></i>
                </span>
                <input type="password" asp-for="@Model.ConfirmPassword" type="text" class="form-control" placeholder="Confirm password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="login-btn fw-bold">Continue</button>
        </form>

        <div class="white-background mt-2 text-center">
            <div class="login-divider pt-2" style="color: grey;">Don't have an account yet?</div>
            <a asp-controller="User" asp-action="Register" class="Register">Sign up for a new account?</a>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}