@model Client.Models.OrderModel.PaymentSuccessModel

<div class="success-container">
    <div class="icon-container">
        <i class="fa-solid fa-check-circle"></i>
    </div>
    <h1>Payment Successful!</h1>
    <p>Thank you for your purchase. Your order has been successfully processed.</p>

    <div class="order-details w-100">
        <h3>Order Summary</h3>
        <p><strong>Order ID:</strong> @Model.OrderId</p>
        <p>
            @if (Model.OrderType.Contains("momo"))
            {
                <strong>Payment Method: MoMo</strong>
            }
            else if (Model.OrderType.Contains("payos"))
            {
                <strong>Payment Method: Pay OS</strong>
            }
            else
            {
                <strong>Payment Method: Free</strong>
            }
        </p>
        
        <p title="UTC Datetime: @Model.ResponseUtcDateTime"><strong>Local Datetime:</strong>@Model.ResponseLocalDateTime</p>
        <p><strong>Total Price:</strong> @string.Format("{0:N0}", Model.Amount) vnđ</p>

    </div>

    <div>
        <a asp-action="UserDashboard" asp-controller="User" class="btn success-btn">View Library</a>
        <a asp-action="Product" asp-controller="Product" class="btn continue-btn w-auto">Continue Shopping</a>
    </div>
</div>

<style>
    .success-container {
        text-align: center;
        padding: 50px;
        border-radius: 10px;
        width: 60%;
        margin: auto;
    }

    .icon-container i {
        font-size: 100px;
        color: #00a97f;
    }

    h1 {
        color: #00a97f;
        margin: 20px 0;
    }

    p {
        font-size: 18px;
        margin: 10px 0;
    }

    .order-details {
        background-color: #e6f4ea;
        padding: 20px;
        margin: 20px 0;
        border-radius: 5px;
        text-align: left;
        display: inline-block;
        width: auto;
    }

        .order-details h3 {
            color: #00a97f;
            margin-bottom: 15px;
        }

        .order-details p {
            font-size: 16px;
        }

    .success-btn, .continue-btn {
        padding: 10px 20px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
    }

    .success-btn {
        background-color: #00a97f;
        color: white;
    }

    .continue-btn {
        background-color: white;
        color: #00a97f;
        border: 1px solid #00a97f;
    }
</style>