@if (ViewData["Login"] != null)
{
    <p>Welcome, @ViewData["Login"]</p>
}
@* <div class="Image_Gallery">
    <div class="box">
        <span style="--i:1"><img src="~/image/game.jpg" /></span>
        <span style="--i:2"><img src="~/image/g4t.png" /></span>
        <span style="--i:3"><img src="~/image/g4t1.png" /></span>
        <span style="--i:4"><img src="~/image/bia.jpg" /></span>
        <span style="--i:5"><img src="~/image/game.jpg" /></span>
        <span style="--i:6"><img src="~/image/game.jpg" /></span>
        <span style="--i:7"><img src="~/image/game.jpg" /></span>
        <span style="--i:8"><<img src="~/image/game.jpg" /></span>
    </div>
</div> *@


<div id="carouselExampleInterval" class="carousel slide mt-4 w-100 h-100" data-bs-ride="carousel" style="border-radius:5px; margin: 0 3%;">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000" style="border-radius:5px;">
            <img src="./Image/game.jpg" class="d-block w-100" alt="..." style="border-radius:5px;">
        </div>
        <div class="carousel-item" data-bs-interval="3000" style="border-radius:5px;">
            <img src="./Image/game.jpg" class="d-block w-100" alt="..." style="border-radius:5px;">
        </div>
        <div class="carousel-item" data-bs-interval="3000" style="border-radius:5px;">
            <img src="./Image/game.jpg  " class="d-block w-100" alt="..." style="border-radius:5px;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="gamemonth">
    <section class="header_section">
        <h1>Game Of The Month</h1>
    </section>
    <div class="wrapper_gamemonth">
        <div class="slider_gamemonth">
            <div class="container_gamemonth owl-carousel owl-theme">
                <div class="card_gamemonth item">
                    <div class="img_gamemonth">
                        <img src="~/Image/game.jpg" />
                    </div>
                    <div class="info">
                        <span class="name">Justin Laketimber</span>
                        <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    </div>
                    <div class="footeer_card">
                        <div class="btn_card">
                            <button>Read more...</button>
                        </div>
                    </div>
                    @* Chứa thông tin chi tiết *@
                    
                </div>
                <div class="card_gamemonth item">
                    <div class="img_gamemonth">
                        <img src="~/Image/game.jpg" />
                    </div>
                    <div class="info">
                        <span class="name">Justin Laketimber</span>
                        <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    </div>
                    <div class="footeer_card">
                        <div class="btn_card">
                            <button>Read more...</button>
                        </div>

                    </div>
                </div>
                <div class="card_gamemonth item">
                    <div class="img_gamemonth">
                        <img src="~/Image/game.jpg" />
                    </div>
                    <div class="info">
                        <span class="name">Justin Laketimber</span>
                        <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    </div>
                    <div class="footeer_card">
                        <div class="btn_card">
                            <button>Read more...</button>
                        </div>

                    </div>
                </div>
                <div class="card_gamemonth item">
                    <div class="img_gamemonth">
                        <img src="~/Image/game.jpg" />
                    </div>
                    <div class="info">
                        <span class="name">Justin Laketimber</span>
                        <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    </div>
                    <div class="footeer_card">
                        <div class="btn_card">
                            <button>Read more...</button>
                        </div>
                        
                    </div>
                </div>
                <div class="card_gamemonth item">
                    <div class="img_gamemonth">
                        <img src="~/Image/game.jpg" />
                    </div>
                    <div class="info">
                        <span class="name">Justin Laketimber</span>
                        <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    </div>
                    <div class="footeer_card">
                        <div class="btn_card">
                            <button>Read more...</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gamefree row">
    <div class="row">
        <div class="col-9 col-sm-9 col-md-9 free-games-section">
            <i class="fa-solid fa-gift"></i>
            <span>Featured Discounts</span>
        </div>
        <div class="col-3 col-sm-3 col-md-3 view-more-section">
            <a class="view-more-button">
                View More
            </a>
        </div>
    </div>

    <div class="row" style="justify-content:space-around;">
        <div class="col-12 col-sm-12 col-md-3 card_other mt-4">
            <img src="~/Image/game.jpg" />
            <div class="info_other">
                <h1>Heading 2</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 card_other mt-4">
            <img src="~/Image/game.jpg" />
            <div class="info_other">
                <h1>Heading 2</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-3 card_other mt-4">
            <img src="~/Image/game.jpg" />
            <div class="info_other">
                <h1>Heading 2</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
            </div>
        </div>
    </div>
    <p>Discounts Now - Dec 10</p>
</div>
<div class="ortherproduct">
    <section class="header_section">
        <h1>Orther Product</h1>
    </section>

    <!-- Danh sách Nút Điều Hướng -->
    <div class="lisotherproduct_name row mt-3">
        <a class="col-6 col-sm-2 col-md-2" href="#foryou">For You</a>
        <a class="col-6 col-sm-2 col-md-2" href="#popular">Popular</a>
        <a class="col-4 col-sm-2 col-md-2" href="#free">Free</a>
        <a class="col-4 col-sm-2 col-md-2" href="#new">New</a>
        <a class="col-4 col-sm-2 col-md-2" href="#more">More</a>
    </div>

    <section id="foryou" class="mt-5">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <h3>For You</h3>
            <a href="">View More</a>
        </div>
        <div class="wrapper_other">
            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 4</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>
        </div>
    </section>


    <section id="popular" class="mt-5">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <h3>Popular</h3>
            <a href="">View More</a>
        </div>
        <div class="wrapper_other">
            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 4</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <section id="free" class="mt-5">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <h3>Free</h3>
            <a href="">View More</a>
        </div>
        <div class="wrapper_other">
            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 4</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <section id="new" class="mt-5">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <h3>New</h3>
            <a href="">View More</a>
        </div>
        <div class="wrapper_other">
            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 4</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <section id="more" class="mt-5">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <h3>More</h3>
            <a href="">View More</a>
        </div>
        <div class="wrapper_other">
            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>

            <div class="card_other mt-4">
                <img src="~/Image/game.jpg" />
                <div class="info_other">
                    <h1>Heading 4</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                    <a asp-controller="" asp-action="" class="btn_orther">Read More</a>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="best-seller_most-player_top-upcoming-wishlisted row mt-5">
    <div class="col-12 col-sm-12 col-md-4" style="border-right:1px solid black;border-left:1px solid black;">
        <h2>
            <a href="" style="text-decoration:none;color:black;">Top Sellers <i class="fa-solid fa-angle-right"></i></a>
        </h2>
        <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid"/>
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid" />
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>
         <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid"/>
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>
         <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid"/>
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>
         <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid"/>
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>
        
    </div>
    <div class="col-12 col-sm-12 col-md-4" style="border-right:1px solid black;border-left:1px solid black;">
        <h2>
            <a href="" style="text-decoration:none;color:black;">Most Played<i class="fa-solid fa-angle-right"></i></a>
        </h2>
        <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid" />
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid" />
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid" />
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid" />
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid" />
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>

    </div>
    <div class="col-12 col-sm-12 col-md-4" style="border-right:1px solid black;border-left:1px solid black;">
        <h2>
            <a href="" style="text-decoration:none;color:black;">Top Upcoming Wishlisted <i class="fa-solid fa-angle-right"></i></a>
        </h2>
        <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid" />
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid" />
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid" />
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid" />
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 col-sm-4 col-md-4">
                <img src="~/image/game.jpg" class="img-fluid" />
            </div>
            <div class="col-8 col-sm-8 col-md-8">
                Game ne
            </div>
        </div>

    </div>
</div>


<!-- Nút Scroll to Top -->
<button id="scrollToTopBtn" title="Go to top">
    <i class="fa-solid fa-chevron-up"></i>
</button>



