@using Client.Models.ReportDTO
@model ReportsModel
@{
    Layout = "_LayoutAdmin";
}
@{
    ViewData["Title"] = "Update Report";
}
<h2>Update Report</h2>
<form asp-action="UpdateReportConfirm" asp-controller="Admin" method="post" class="system-form">
    <div class="row" style="background: #f9f9f9; border: 2px solid #00A97F; border-radius:5px; padding:1vw;">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label asp-for="Id" class="system-label">ID</label>
                    <input asp-for="Id" class="form-control system-input" readonly="readonly" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class=" col-md-6 form-group">
                    <label asp-for="Email" class="system-label">Email</label>
                    <input asp-for="Email" class="form-control system-input" readonly="readonly" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row mt-2">
                <div class="col-md-6 form-group">
                    <label class="d-block" style="font-weight: bold; color: #00A97F; padding-bottom: 5px;">CreatedAt</label>
                    <input type="date" asp-for="CreatedAt" class="form-control system-input" readonly="readonly" />
                    <span class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group">
                    <label asp-for="Status" class="system-label">Status</label>
                    <select asp-for="Status" class="form-select system-select" aria-label="Status">
                        <option value="0">Pending</option>
                        <option value="1">InProgress</option>
                        <option value="2">Resolved</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label asp-for="Description" class="system-label">Description</label>
                <textarea asp-for="Description" readonly="readonly" class="form-control system-input" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <input type="hidden" name="reportId" value="@Model.Id" />

    <div style="margin-top:2vw;">
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-action="ReportManager" class="btn btn-secondary">Back To List</a>
    </div>
</form>
